.all {
    font-family: 'Rubik', sans-serif;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    display: flex;
    max-width: 1140px;
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 89px;
}

.navbar a {
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
}

.text-logo {
    font-weight: 550;
    font-size: 20px;
    color: #0B132A;
    text-decoration: none;
}

.text-logo span {
    font-weight: 700;
    font-size: 20px;
}

.navbar ul {
    display: flex;
    gap: 40px;
    list-style-type: none;
    align-items: center;
}

.navbar ul li a {
    position: relative;
    color: #4F5665;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
}

.navbar ul li a:hover {
    color: #0B132A;
}

.navbar ul li a:hover::after {
    content: "";
    position: absolute;
    top: 18px;
    height: 1px;
    border-left: 10px solid #333
}

.nav-inup {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-in a {
    color: #0B132A;
    font-weight: 700;
    font-size: 16px;
}

.nav-in:hover a {
    color: #F53838;
}

.nav-up a {
    padding:13px 45px;
    color: #F53855;
    box-sizing: border-box;
    border: 1px solid #F53838;
    border-radius: 50px;
    font-weight: 600;
    font-size: 16px;
}

.nav-up:hover a {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 12px;
    background-color: #F53838;
    color: #FFFFFF;
}

.main {
    display: flex;
    gap: 41px;
    max-width: 1250px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 103px;
}

.heading-content {
    max-width: 555px;
    width: 100%;
    padding-left: 50px;
    padding-right: 20px;
}
.text-content {
    max-width: 555px;
    width: 100%;
    font-weight: 500;
    font-size: 50px;
    color: #0B132A;
    margin-bottom: 20px;
}

.desc-content {
    max-width: 555px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 50px;
}

.desc-content span {
    font-weight: 500    ;
    font-size: 16px;
}

.text-content span {
    font-weight: 700;
    font-size: 50px;
}

.button-content {
    font-weight: 700;
    font-size: 16px;
    padding: 18px 78px;
    color: #F53855;
    background-color: #FFFFFF;
    border: none;
    border: 1.5px solid #F53838;
    border-radius: 20px;
    cursor: pointer;
}

.button-content:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 12px;
    background-color: #F53838;
    color: #FFFFFF;
}

.review {
    display: flex;
    max-width: 950px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 91px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px ;
}

.review-content {
    display: flex;
    gap: 36px;
    align-items: center;
}

.review-content-avt {
    background-color: #FFECEC;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.review-content-text-count {
    font-weight: 700;
    font-size: 25px;
    color: #0B132A;
    margin: 0;
    padding-bottom: 5px;
}

.review-content-text-name {
    font-weight: 400;
    font-size: 16px;
    color: #4F5665;
    margin: 0;
}

.review-content:nth-child(2) {
    border-left: 2px solid #EEEFF2;
    border-right: 2px solid #EEEFF2;
    padding: 20px 135px;
    box-sizing: border-box;
}

.provide {
    margin-top: 95px;
    display: flex;
    gap: 170px;
    max-width: 1140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.provide-content-main {
    margin-top: 55px;
    max-width: 384px;
    font-weight: 500;
    font-size: 35px;
    color: #0B132A;
    margin-bottom: 20px;
}

.provide-content-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    margin-bottom: 20px;
    text-align: left;
}

.provide-content-list {
    padding: 0;
    margin-bottom: 127px;
}

.provide-content-list li {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    color: #4F5665;
    margin-bottom: 8px;
}

.plan {
    background-color: #F6F6F6;
    background: linear-gradient(to bottom, #F6F6F6, #FFFFFF);
}

.plan-content {
    padding-top: 80px;
    font-weight: 500;
    font-size: 35px;
    color: #0B132A;
    text-align: center;
    margin-bottom: 20px;
}

.plan-text {
    max-width: 555px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color:#4F5665;
    text-align: center;
    margin-bottom: 60px;
}

.plan-pay {
    position: relative;
    max-width: 1090px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.plan-pay-custom {
    padding: 80px 50px 50px;
    display: flex;
    flex-direction: column;
    max-width: 330px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.plan-pay-custom img {
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
}

.plan-pay-custom > p {
    font-weight: 500;
    font-size: 18px;
    color: #0B132A;
    margin-bottom: 30px;
    text-align: center;
}

.plan-pay-list {
    padding: 0;
}

.plan-pay-list li {
    display: flex;
    align-items: center;
    gap: 25px;
}

.plan-pay-list li p {
    font-weight: 400;
    font-size: 14px;
    color: #4F5665;
}

.plan-pay-custom h6 {
    font-weight: 500;
    font-size: 25px;
    color: #0B132A;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 130px;
}

.plan-pay-custom h6 span {
    font-weight: 400;
    font-size: 25px;
    color: #4F5665; 
}

.plan-pay-custom div {
    margin-left: auto;
    margin-right: auto;
}

.plan-pay-custom-button {
    max-width: 178px;
    font-weight: 700;
    font-size: 16px;
    padding: 13px 63px;
    color: #F53838;
    border: 2px solid #F53838;
    border-radius: 25px;
    background-color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 0    ;
}

.plan-pay-custom:nth-child(2) h6{
    margin-top: 90px;
}

.plan-pay-custom:nth-child(3) h6 {
    margin-top: 45px;
}

.plan-pay-custom:hover {
    border: 2px solid #F53838;
}

.plan-pay-custom-button:hover {
    background-color: #F53838;
    color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 12px;
}

.huge-content {
    max-width: 383.41px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
    text-align: center;
    margin-bottom: 20px;
}

.huge-desc {
    max-width: 555px;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
    font-weight: 400;
    font-size: 16px;
    color:#4F5665;
    text-align: center;
    margin-bottom: 155.81px;
}

.huge-desc span {
    font-weight: 500;
    font-size: 16px;
}

.huge img {
    max-width: 1060px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 36px;
}

.huge-logo {
    max-width: 1135px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.trusted-content {
    max-width: 448px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
    text-align: center;
}

.trusted-desc {
    margin-top: 20px;
    max-width: 555px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 16px;
    color: #4F5665;
    line-height: 30px;
    text-align: center;
    margin-bottom: 60px;
}


.trusted-comment {
    max-width: 1470px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    gap: 50px;
}

.trusted-comment-custom {
    padding: 30px 30px 10px;
    max-width: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #f6f6f6;
    border-radius: 10px;
}

.trusted-comment-custom:hover {
    border: 2px solid #F53855;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 6px;
}

.trusted-comment-custom > div {
    display: flex;
    gap: 90px;
    margin-bottom: 20px;
}

.trusted-comment-custom-content {
    display: flex;
    gap: 15px;
    max-width: 250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.trusted-comment-custom-content div {
    text-align: center;
}

.trusted-comment-custom-content div h6 {
    max-width: 200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 18px;
    color: #0B132A;
    margin: 5px 0;
}

.trusted-comment-custom-content div p {
    font-weight: 400;
    font-size: 14px;
    color: #4F5665;
    margin: 0;
}

.trusted-comment-custom-rate {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #0B132A
}

.trusted-comment-custom-desc {
    font-weight: 400;
    font-size: 14px;
    color: #4F5665;
    line-height: 30px;
    margin-bottom: 0;
}

.trusted-navbar {
    max-width: 1470px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.trusted-navbar-left {
    max-width: 1470px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.trusted-navbar-left ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.trusted-navbar-left-custom {
    width: 15px;
    height: 15px;
    background-color: #DDE0E4;
    border-radius: 50%;
    cursor: pointer;
    border: 0;
    outline: 0;
    transition: all 0.1s linear;
}

.trusted-navbar-left-custom:active {
    width: 45px;
    border-radius: 10px;
    background-color: #F53838;
}

.trusted-navbar-right {
    display: flex;
    gap: 35px;
}

.trusted-navbar-right-custom {
    padding: 15px;
    border: 2px solid #F53838;
    border-radius: 50%;
}

.trusted-navbar-right-custom:hover {
    background-color: #F53838;
}

.trusted-navbar-right-custom:hover path {
    fill: #FFFFFF;
}

.subscribe {
    position: relative;
    z-index: 10;
    margin-top: 117px;
    display: flex;
    max-width: 1140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    padding: 55px 70px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 12px;
    background-color: #FFFFFF;
}

.subscribe-content {
    max-width: 371px;
    width: 100%;
}

.subscribe-content h1 {
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
    color: #0B132A;
    text-align: left;
    margin: 0 0 20px 0;
}

.subscribe-content p {
    font-weight: 400;
    font-size: 16px;
    color: #4F5665;
}

.subscribe-button button {
    font-weight: 700;
    font-size: 16px;
    padding: 17.5px 66px;
    border-radius: 10px;
    color: #F53838;
    border: 2px solid #F53838;
    background-color: #FFFFFF;
}

.subscribe-button:hover button {
    background-color: #F53838;
    color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
}

.about-footer {
    z-index: -1;
    padding-top: 150px;
    position: absolute;
    background-color: #F8F8F8;
    right: 0;
    left: 0;
    transform: translateY(-23%);
}

.footer {
    z-index: 1;
    position: relative;
    margin: 63px;
    max-width: 1300px;
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.footer-content a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.footer-content-desc {
    margin-top: 20px;
    max-width: 340px;
    font-weight: 400;
    font-size: 16px;
    color: #4F5665;
    line-height: 30px;
    margin-bottom: 30px;
}

.footer-content-desc span {
    font-weight: 500;
    font-size: 16px;
}

.footer-content-icons {
    display: flex;
}

.footer-content-icons a svg path {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
}

.footer-about-container {
    margin-top: 20px;
    display: flex;
    gap: 150px;
}

.footer-container-main {
    font-weight: 600;
    font-size: 18px;
    color: #0B132A;
    margin-bottom: 35px;
}

.footer-container-content a {
    text-decoration: none;
    gap: 25px;
    font-weight: 400;
    font-size: 16px;
    color: #4F5665;
}

.footer-container-content {
    margin-bottom: 20px;
}


